:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%); /* Page Background */
    --stone-600: hsl(30, 10%, 34%); /* Body Text */
    --stone-900: hsl(24, 5%, 18%); /* Titles */
    --brown-800: hsl(14, 45%, 36%); /* Section Headings */
    --rose-800: hsl(332, 51%, 32%); /* Numbers/Bulleted list colors */
    --rose-50: hsl(330, 100%, 98%);  /* Prep-time box background */

    --font-body: 'Outfit', sans-serif;
    --font-title: 'Young Serif', serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

@media (max-width: 600px) {
    body {
        padding: 0;
    }

    .recipe-card {
        padding: 0;
        border-radius: 0;
    }

    .recipe-card img {
        border-radius: 0;
        margin-bottom: 1.5rem;
    }

    main {
        padding: 0;
    }

    article {
        padding: 1.5rem;
    }
}


body {
    font-family: var(--font-body);
    color: var(--stone-600);
    background-color: var(--stone-100);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding: 2.5rem 0;
}

p {
    line-height: 1.6;
}

section {
    margin-bottom: 2rem;
}

.recipe-card {
    background-color: var(--white);
    max-width: 736px;
    padding: 2.5rem;
    border-radius: 1.5rem;
}

.recipe-card img{
    width: 100%;
    border-radius: 0.75rem;
    margin-bottom: 2.5rem;
}

h1 {
    font-family: var(--font-title);
    color: var(--stone-900);
    margin-bottom: 1.5rem;
}

h2 {
    font-family: var(--font-title);
    color: var(--brown-800);   
}

.prep-time {
    background-color: var(--rose-50);
    padding: 25px;
    border-radius: 0.75rem;
    margin: 2rem 0;
}

.prep-time h2 {
    color: var(--rose-800);
    margin-top: 0;
    font-size: 1.12rem;
}

ul, ol {
    padding-left: 24px;
}

li {
    margin-bottom: 10px;
    padding-left: 10px;
}

ol li::marker {
    font-weight: 700;
}

ul li::marker {
    color: var(--brown-800);
}


.prep-time li::marker {
    color: var(--rose-800);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid var(--stone-100);
}

tr:last-child td {
    border-bottom: none;
}

.values {
    color: var(--brown-800);
    font-weight: 700;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--stone-100);
    margin: 2rem 0;
}
.attribution {
    font-size: 0.75rem;
    text-align: center;
    margin-top: 2rem;
    color: var(--stone-600);
}

.attribution a {
    color: var(--stone-900);
}
